.App {
  min-height: 100vh;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.App main {
  flex: 1;
}

.header {
  padding: 0.5rem 0px;
}

.header h3 {
  font-weight: 400;
  font-size: large;
  line-height: 2rem;
  text-align: center;
  color: #334155;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}

.grid .col-2 {
  padding: 0rem 0.5rem;
  width: 100%;
  margin-bottom: 2rem;
}

.actions {
  display: flex;
  justify-content: center;

}

.actions > * + * {
  margin-left: 1rem;
}

@media (min-width: 768px) {
  .header h3 {
    font-size: x-large;
    line-height: 3rem;
  }
}

@media (min-width: 1024px) {
  /* .grid {
    margin-left: -1rem;
    margin-right: -1rem;
  } */
  .grid .col-2 {
    width: 50%;
    margin-bottom: 0rem;
    padding: 0rem 1rem;
  }
}